<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro=" xmlns:sec=http://www.thymeleaf.org/thymeleaf-extras-shiro">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <style type="text/css">
        .top{
            float: left;
            border: 2px;
            width: 45px;
            height:40px;
            text-align: center;
        }
        .context{
            float: left;
            border: 2px;
            width: 70px;
            height:40px;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>welcome</h1>

    <div class="top" th:if="${session.loginUser==null}">
        <a th:href="@{/tologin}">登录</a>
    </div>

    <div class="top" th:text="${msg}!=null?${msg}:${user}"></div>

    <div class="top" th:if="${session.loginUser!=null}">
        <a th:href="@{/logout}">注销</a>
    </div>

    <hr/>
    <br/>
    <div class="context" shiro:hasPermission="level:a">
    <a th:href="@{/to/a}">entry a</a>
    </div>
    <div class="context" shiro:hasPermission="level:b">
    <a th:href="@{/to/b}">entry b</a>
    </div>
</body>
</html>